[user]
	useConfigOnly = true

[core]
	editor = vim
	repositoryFormatVersion = 0
	eol = lf
	autocrlf = input
	filemode = true
	bare = false
	logAllRefUpdates = true
	pager = delta
	excludesFile = ~/.config/git/ignore
	attributesFile = ~/.config/git/attributes

[init]
	defaultBranch = main

[github]
	user = nokazn

[merge]
	ff = false

[pull]
	ff = only
	rebase = false
	merge = true

[rebase]
  autostash = true

[pretty]
	default = "format:%C(yellow)%h%Creset%C(red)%d%Creset %C(white)%s%Creset %C(green)- [%an] %C(cyan)(%cr)%Creset"
	bold = "format:%C(yellow)%h%Creset%C(red)%d%Creset %C(white bold)%s%Creset %C(green)- %an %C(cyan)(%cr)%Creset"

[branch]
  sort = -committerdate

# npm の認証トークンを含めない
[filter "ignore-npm-registry-token"]
	smudge = cat
	clean = sed -e "/registry.npmjs.org/d"

[alias]
	a = add
	alias = config --get-regexp alias.*
	allclean = clean -df
	br = branch
	br-clean-remote = fetch --prune
	c = commit
	ch = checkout
	cl = clone
	cm = commit -m
	cp = cherry-pick
	d = diff
	d1 = diff HEAD~1 HEAD
	d2 = diff HEAD~2 HEAD
	d3 = diff HEAD~3 HEAD
	d4 = diff HEAD~4 HEAD
	d5 = diff HEAD~5 HEAD
	dc = diff --cached
	dcl = diff --stat --cached
	dl = diff --stat
	dlc = diff --stat --cached
	l = log --stat --pretty=bold
	lg = log --graph --branches --pretty=default  # graph
	ll = log --numstat --decorate --pretty=bold  # line number status
	ln = log --name-status --pretty=bold  # name status
	lp = log --pretty  # pretty
	ls = log --oneline --pretty=default  # --oneline option
	ls-pr = log --pretty=format:\"- %s (%h)\" --reverse
	ls1 = log --oneline --pretty=default -n 1
	ls2 = log --oneline --pretty=default -n 2
	ls3 = log --oneline --pretty=default -n 3
	reamend = reset --soft HEAD@{1}
	reb = rebase
	rebi1 = rebase -i HEAD~
	rebi2 = rebase -i HEAD~~
	rebi3 = rebase -i HEAD~3
	rebi4 = rebase -i HEAD~4
	rebi5 = rebase -i HEAD~5
	s = status --show-stash
	sh = show
	ss = status --show-stash -s
	st = stash
	stm = stash -m
	stp = stash -p
	stu = stash -u --keep-index  # untracked のファイルも退避させる
	sw = switch

[delta]
	line-numbers = true
	side-by-side = true

[http]
	sslVerify = true
