[user]
	email =
	name = nokazn
[core]
	editor = vim
	repositoryformatversion=0
	eol=lf
	autocrlf=input
	filemode=true
	bare=false
	logallrefupdates=true
[github]
	user = nokazn
[merge]
	ff = false
[pull]
	ff = only
	rebase = true
[alias]
	alias = config --get-regexp alias.*
	s = status
	ss = status -s
	lg = log --graph --branches --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
	ls = log --oneline -n 10
	b = branch
	ch = checkout
	chb = checkout -b
	d = diff
	dc = diff --cached
	d1 = diff HEAD~1
	d2 = diff HEAD~2
	d3 = diff HEAD~3
	d4 = diff HEAD~4
	d5 = diff HEAD~5
	a = add . && add -u && status -s
	c = commit
	cm = commit -m
	# alias br のエラーを抑制
	ps = !git push origin $(br >/dev/null 2>&1)
	# alias br のエラーを抑制
	pl = !git pull origin $(br >/dev/null 2>&1)
	amend = !git commit -m \"$(git log --format="%s" -n 1)\" --amend
	exact-amend = !git commit -m \"$(git log --format="%s" -n 1)\" --date="$(git log --format="%cd" -n 1)" --amend
	reamend = reset --soft HEAD@{1}

