[user]
	email =
	name = nokazn
[core]
	editor = vim
	repositoryformatversion=0
	eol=lf
	autocrlf=input
	filemode=true
	bare=false
	logallrefupdates=true
[github]
	user = nokazn
[merge]
	ff = false
[pull]
	ff = only
	rebase = true
