[user]
	email =
	name = nokazn
[core]
	editor = vim
	repositoryformatversion = 0
	eol = lf
	autocrlf = input
	filemode = true
	bare = false
	logallrefupdates = true
	pager = delta
[github]
	user = nokazn
[merge]
	ff = false
[pull]
	ff = only
	rebase = true
[pretty]
	default = "format:%C(yellow)%h%Creset%C(red)%d%Creset %C(white)%s%Creset %C(green)- [%an] %C(cyan)(%cr)%Creset"
	bold = "format:%C(yellow)%h%Creset%C(red)%d%Creset %C(white bold)%s%Creset %C(green)- %an %C(cyan)(%cr)%Creset"
[alias]
	alias = config --get-regexp alias.*
	br = branch
	ch = checkout
	chb = checkout -b
	sw = switch
	swc = switch -c
	d = diff
	dc = diff --cached
	dl = diff --stat
	dlc = diff --stat --cached
	dcl = diff --stat --cached
	d1 = diff HEAD~1
	d2 = diff HEAD~2
	d3 = diff HEAD~3
	d4 = diff HEAD~4
	d5 = diff HEAD~5
	s = status --show-stash
	ss = status --show-stash -s
	a = add
	aa = !git add -u && git add . && git status --show-stash
	c = commit
	cm = commit -m
	ps = !git push origin $(git symbolic-ref --short HEAD)
	pl = !git pull origin $(git symbolic-ref --short HEAD)
	amend = !git commit -m \"$(git log --format="%s" -n 1)\" --amend
	exact-amend = !git commit -m \"$(git log --format="%s" -n 1)\" --date="$(git log --format="%cd" -n 1)" --amend
	reamend = reset --soft HEAD@{1}
	l = log --stat --pretty=bold
	# --oneline option
	ls = log --oneline --pretty=default
	ls1 = log --oneline --pretty=default -n 1
	ls2 = log --oneline --pretty=default -n 2
	ls3 = log --oneline --pretty=default -n 3
	# name status
	ln = log --name-status --pretty=bold
	# line number status
	ll = log --numstat --decorate --pretty=bold
	# graph
	lg = log --graph --branches --pretty=default
	reb = rebase -i HEAD
	reb1 = rebase -i HEAD~
	reb2 = rebase -i HEAD~~
	reb3 = rebase -i HEAD~3
	reb4 = rebase -i HEAD~4
	reb5 = rebase -i HEAD~5
[delta]
	line-numbers = true
	side-by-side = true
