<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="adobereader" />
  <package id="boostnote" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="chocolatey-misc-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="cpu-z" />
  <package id="cpu-z.install" />
  <package id="crystaldiskinfo" />
  <package id="crystaldiskinfo.portable" />
  <package id="crystaldiskmark" />
  <package id="deepl" />
  <package id="discord" />
  <package id="discord.install" />
  <package id="epicgameslauncher" />
  <package id="Everything" />
  <package id="fastcopy" />
  <package id="fastcopy.portable" />
  <package id="ffmpeg" />
  <package id="Firefox" />
  <package id="font-hackgen-nerd" />
  <package id="google-drive-file-stream" />
  <package id="GoogleChrome" />
  <package id="hwinfo" />
  <package id="hwinfo.install" />
  <package id="keepassxc" />
  <package id="keybase" />
  <package id="keycastow" />
  <package id="lastfmscrobbler" />
  <package id="microsoft-windows-terminal" />
  <package id="minecraft-launcher" />
  <package id="notion" />
  <package id="Opera" />
  <package id="pgadmin4" />
  <package id="postman" />
  <package id="rufus" />
  <package id="screentogif" />
  <package id="slack" />
  <package id="spotify" />
  <package id="steam" />
  <package id="steam-client" />
  <package id="thunderbird" />
  <package id="typora" />
  <package id="vcxsrv" />
  <package id="vivaldi" />
  <package id="vivaldi.portable" />
  <package id="vlc" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="zoom" />
</packages>
