[user]
	name = nokazn
	email = 41154684+nokazn@users.noreply.github.com
	signingkey = 4c7eaef00b54683f

[core]
	editor = vim
	repositoryFormatVersion = 0
	eol = lf
	autocrlf = input
	filemode = true
	bare = false
	logAllRefUpdates = true
	pager = delta
	excludesFile = ~/.config/git/ignore
	attributesFile = ~/.config/git/attributes

[diff]
	external = difft

[init]
	defaultBranch = main

[github]
	user = nokazn

[commit]
	gpgsign = true

[merge]
	ff = false

[pull]
	ff = only
	rebase = false
	merge = true

[rebase]
  autostash = true
	autosquash = true

[log]
	follow = true

[pretty]
	default = "format:%C(yellow)%h%Creset%C(red)%d%Creset %C(white)%s%Creset %C(green)- [%an] %C(cyan)(%cr)%Creset"
	bold = "format:%C(yellow)%h%Creset%C(red)%d%Creset %C(white bold)%s%Creset %C(green)- %an %C(cyan)(%cr)%Creset"

[branch]
  sort = -committerdate

# npm の認証トークンを含めない
[filter "ignore-npm-registry-token"]
	smudge = cat
	clean = sed -e "/registry.npmjs.org/d"

# signingkeyを含めない (削除してよいかも)
[filter "ignore-signingkey"]
	smudge = cat
	clean = sed -E -e 's/signingkey\\s*=\\s+.+/signingkey =/'

[filter "ignore-gitconfig-properties"]
	smudge = cat
	clean = sed -E -e 's/=\\s*.+/=/'

[includeIf "gitdir:~/work/"]
  path = ~/.config/git/config.work

[alias]
	a = add
	aa = !git add -u && git add . && git status --show-stash
	alias = config --get-regexp alias.*
	allclean = clean -df
	amend = !git commit -m \"$(git log --format="%s" -n 1)\" --amend
	amend-author = !git commit -m \"$(git log --format="%s" -n 1)\" --author=\"$(git config --get user.name) <$(git config --get user.email)>\" --amend
	br = branch
	br-clean = "!f() { git branch --merged | grep -v -E '\\*|develop|main|master' | xargs git branch -d; }; f"  # マージ済みのブランチを削除
	br-clean-all = "!f() { git branch --merged | grep -v -E '\\*|develop|main|master' | xargs git branch -d; git fetch --prune; }; f"
	br-clean-remote = fetch --prune
	br-clean-tmp = "!f() { git branch | grep -E 'tmp' | xargs git branch -D; }; f"
	brcontains = "branch --contain"
	brr = "!f() { git fetch origin $1; git branch $1 origin/$1; }; f"  # リモートブランチを同じ名前でローカルに作成する
	c = commit
	ch = checkout
	chb = "!f() { if [[ -z $2 ]]; then echo "❌ No parent branch specified."; exit 1; fi; git checkout -b $1 $2; }; f"  # 親ブランチの指定がなければ実行させない
	chr = "!f() { git fetch origin $1; git checkout $1; }; f"  # リモートブランチを同じ名前でチェックアウトする
	cl = clone
	cleanf = clean -f
	cll = "clone --filter=blob:none --filter=tree:1 --depth=100"
	clgh = "!f() { if [[ \"$1\" =~ .+/.+ ]]; then target=\"$1\"; shift; else target=\"$1/$2\"; shift 2; fi; git clone git@github.com:\"${target}\" \"$@\"; }; f"
	cm = commit -m
	cp = cherry-pick
	d = diff
	d1 = diff HEAD~1 HEAD
	d2 = diff HEAD~2 HEAD
	d3 = diff HEAD~3 HEAD
	d4 = diff HEAD~4 HEAD
	d5 = diff HEAD~5 HEAD
	dc = diff --cached
	dcl = diff --stat --cached
	dl = diff --stat
	dlc = diff --stat --cached
	exact-amend = !git commit -m \"$(git log --format="%s" -n 1)\" --date="$(git log --format="%cd" -n 1)" --amend
	l = log --stat --pretty=bold
	ld = "!f() { git log --oneline --no-merges $1..$2; }; f"  # commit diff from $1 to $2
	ld-remote = "!f() { local branch="$1"; if [[ -z "$branch" ]]; then branch="$(git symbolic-ref --short HEAD)"; fi; git log --oneline --no-merges "origin/$branch..$branch"; }; f"  # commit diff from $1 to $2
	lg = log --graph --branches --pretty=default  # graph
	ll = log --numstat --decorate --pretty=bold  # line number status
	ln = log --name-status --pretty=bold  # name status
	lp = log --pretty  # pretty
	ls = log --oneline --pretty=default  # --oneline option
	ls-pr = log --pretty=format:\"- %s (%h)\" --reverse
	ls1 = log --oneline --pretty=default -n 1
	ls2 = log --oneline --pretty=default -n 2
	ls3 = log --oneline --pretty=default -n 3
	ls-files-untracked = ls-files --others --exclude-standard
	openpr = "!f() { gh pr view \"$(git log --merges --reverse --oneline --ancestry-path $1.."$(gh repo view --json defaultBranchRef --jq '.defaultBranchRef.name')" | grep 'Merge pull request' | head -1 | awk '{ print $5 }' )\" --web; }; f"
	parent-branches = !git show-branch | grep '*' | grep -v "$(git symbolic-ref --short HEAD)" | awk -F'[]~^[]' '{print $2}' | uniq # https://qiita.com/upinetree/items/0b74b08b64442f0a89b9
	pl = !git pull origin $(git symbolic-ref --short HEAD)  # 同名のリモートブランチの内容を現在のブランチに取り込む
	ps = !git push origin $(git symbolic-ref --short HEAD)  # 現在のブランチの内容を同名のリモートブランチに push する
	ps-1 = !git push origin $(git symbolic-ref --short HEAD)~:$(git symbolic-ref --short HEAD)  # 現在のブランチの1個前の内容を同名のリモートブランチに push する
	ps-2 = !git push origin $(git symbolic-ref --short HEAD)~2:$(git symbolic-ref --short HEAD)  # 現在のブランチの2個前の内容を同名のリモートブランチに push する
	ps-3 = !git push origin $(git symbolic-ref --short HEAD)~3:$(git symbolic-ref --short HEAD)  # 現在のブランチの3個前の内容を同名のリモートブランチに push する
	ps-4 = !git push origin $(git symbolic-ref --short HEAD)~4:$(git symbolic-ref --short HEAD)  # 現在のブランチの4個前の内容を同名のリモートブランチに push する
	psf = !git push --force-with-lease origin $(git symbolic-ref --short HEAD)  # ローカルの ref が最新でなければ失敗させる
	reamend = reset --soft HEAD@{1}
	reb = rebase
	rebi1 = rebase -i HEAD~
	rebi2 = rebase -i HEAD~~
	rebi3 = rebase -i HEAD~3
	rebi4 = rebase -i HEAD~4
	rebi5 = rebase -i HEAD~5
	rebi6 = rebase -i HEAD~6
	rebi7 = rebase -i HEAD~7
	rebi8 = rebase -i HEAD~8
	rebi9 = rebase -i HEAD~9
	rebi10 = rebase -i HEAD~10
	rebonto = "!f() { if [[ -z $2 ]]; then echo "❌ No current base branch specified."; exit 1; fi; git rebase --onto $1 $2 $(git symbolic-ref --short HEAD); }; f"
	remote-add-me = !git remote add origin git@github.com:\"$(git config --global user.name)\"/\"$(basename $(pwd))\"
	remote-set-url-upstream-from-origin = !git remote add upstream \"$(git remote get-url origin)\" && git remote set-url origin \"$(git remote get-url origin | sed -E -s "s/:(.*)\\//:$USER\\//")\"
	remote-set-url-me = !git remote set-url origin git@github.com:\"$(git config --global user.name)\"/\"$(basename $(pwd))\"
	res = restore
	s = status --show-stash
	sh = show --ext-diff
	ss = status --show-stash -s
	st = stash
	stm = stash -m
	stp = stash -p
	stu = stash -u --keep-index  # untracked のファイルも退避させる
	sw = switch
	swc = "!f() { if [[ -z $2 ]]; then echo "❌ No parent branch specified."; exit 1; fi; git switch -c $1 $2; }; f"  # 親ブランチの指定がなければ実行させない
	swc-tmp = "!f() { git switch -c $(git symbolic-ref --short HEAD)-tmp-"$(hostname)" HEAD; }; f"
	swc-increment = "!f() { git switch -c $(git symbolic-ref --short HEAD | awk '{sub(/-[0-9]+$/, sprintf("%d", substr($0, match($0, /[0-9]+$/)) + 1)); print}' | sed -E -e 's/([^0-9])$/\\1-1/') HEAD; }; f"
	swr = "!f() { git fetch origin $1; git switch -c $1 origin/$1; }; f"  # リモートブランチを同じ名前でチェックアウトする
	swt = "!f() { git switch -d refs/tags/$1; }; f"
	tagl = "tag -l"
	tagd = "describe --tags"
	user ="!f() { git config user.name $1; git config user.email $2; }; f"
	wt = worktree
	wta = "!f() { git worktree add $(readlink $(git rev-parse --git-dir | sed -E 's/\\.git.*$/./')/.worktree/$1 -f); }; f"
	wtr = "!f() { git worktree remove $(readlink $(git rev-parse --git-dir | sed -E 's/\\.git.*$/./')/.worktree/$1 -f); }; f"

[delta]
	line-numbers = true
	side-by-side = true

[difftool]
    # Run the difftool immediately, don't ask 'are you sure' each time.
    prompt = false

[http]
		sslVerify = false
