#!/usr/bin/env bash

# See https://wiki.archlinux.org/title/Localization/Japanese
# fcitx
if command -v fcitx5 >/dev/null; then
  export GTK_IM_MODULE=fcitx5
  export QT_IM_MODULE=fcitx5
  export XMODIFIERS=@im=fcitx5
  export DefaultIMModule=fcitx5
  # TODO: 実行に時間がかかるので、起動時に実行させるとその分起動も遅くなる
  # fcitx-autostart &> /dev/null
fi
