name: update

on:
  schedule:
    # 毎月5日/25日の00:00に実行
    - cron: '0 0 5,25 * *'
  workflow_dispatch:

jobs:
  update-flake-lock:
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
      - name: Generate branch date
        run: |
          echo "CURRENT_DATE=$(date +'%Y%m%d%H%M%S')" >> $GITHUB_ENV
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@main
        with:
          pr-title: "Update flake.lock"
          pr-labels: |
            dependencies
          pr-reviewers: ${{ github.actor }}
          branch: "deps/update-flake-lock-${{ env.CURRENT_DATE }}"
          commit-msg: "dpes: Update flake.lock"
          path-to-flake-dir: ./
